<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  	<meta charset="UTF-8"></meta>
  	<title>DDevOps SpringBoot Application</title>
<style>
  body { text-align: center; padding: 50px; }
  h1 { font-size: 50px; color:gray }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #00a5f9; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>
</head>
<body>
    <img src='https://www.linkpicture.com/q/web_15.png' type='image' width='400px'>
  	<h1 th:text="${hello}"></h1>
    <img src="https://www.linkpicture.com/q/Landing-2.png" type="image" width="800px">
<body>
</html>